/* Inspired by: https://codepen.io/webstoryboy/pen/rrLdQX */
:root {
  --loader-text-color: #f6e9fe;
  --loader-dot-color: #a51ff6;
  --loader-bg: #100319;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--loader-bg);
  display: grid;
  place-content: center;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

/* Air */
svg {
  width: 20rem;
  font-weight: 700;
}

svg text {
  font-size: 5rem;
  stroke-width: 2;
  letter-spacing: -3px;
}
svg text.text-body {
  stroke: var(--loader-text-color);
  animation: 4s infinite alternate stoke_animate;
}

@keyframes stoke_animate {
  0% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%; /*0 is stoke  and 32%  is diff btwn stroke's*/
  }
  50% {
    fill: transparent;
    stroke: var(--loader-text-color);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--loader-text-color);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0; /*32% is stoke  and  0 is diff btwn stroke's*/
  }
}
