#hero {
  height: 100vh;
  color: white;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(37, 53, 102, 0.9);
  z-index: -1;
}


video {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  object-fit: cover;
}
